<nav class="navbar">
    <div class="search">

    </div>
    <div class="profile">
        <ul>
            <li>
                <a href="">
                    <div>
                        <fa-icon [icon]="['far', 'comment']"></fa-icon>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div>
                        <fa-icon [icon]="['far', 'bell']"></fa-icon>
                    </div>
                </a>
            </li>
            <li>
  
                    <div>
                        <img src="../../../assets/photo-profil-vecteur-plat-homme-elegant-generee-par-ai_606187-310.avif" alt="">
                        <span>fuji vanilli</span>
                    </div>
 
            </li>
        </ul>
    </div>
</nav>