<nav id="sidebar">
    <ul>
        <li class="active">
            <a href=""><span>Home</span></a>
        </li>
        <li class="active">
            <a href=""><span>Dashboard</span></a>
        </li>
        <li class="active">
            <a href=""><span>Account</span></a>
        </li>
        <li class="active">
            <a href=""><span>Transaction</span></a>
        </li>
        <li class="active">
            <a href=""><span>Analytics</span></a>
        </li>
        <li class="active">
            <a href=""><span>Payment</span></a>
        </li>
        <li class="active">
            <a href=""><span>Balance</span></a>
        </li>
        <li class="active">
            <a href=""><span>Spending</span></a>
        </li>
        <li class="active">
            <a href=""><span>Refund</span></a>
        </li>
        <li class="active">
            <a href=""><span>Setting</span></a>
        </li>
        <li class="active">
            <a href=""><span>Logout</span></a>
        </li>
    </ul>
</nav>