#main-container {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    display: grid;
    grid-template-columns: auto 1fr;

    #sidebar {
        box-sizing: border-box;
        height: 100vh;
        width: 250px;
        padding: 5px .6em;
        border-right: 1px solid var(--line-clr);
        position: sticky;
        top: 0;
        align-self: start;

        a, .dropdown-btn, .logo {
            border-radius: .5rem;
            padding: .85em;
            text-decoration: none;
            color: var(--text-clr);
            display: flex;
            align-items: center;
            gap: 1em;
        }

        a span, .dropdown-btn span {
            flex-grow: 1;
        }

        a:hover, .dropdown-btn:hover {
            background-color: var(--hover-clr);
        }

        ul {
            list-style: none;

            li.active {
                a {
                    color: var(--accent-clr);
                }

                fa-icon {
                    color: var(--accent-clr);
                }
            }

            li {
                .dropdown-btn {
                    width: 100%;
                    background: none;
                    border: none;
                    text-align: left;
                    font: inherit;
                    cursor: pointer;
                }

                .sub-menu {
                    display: grid;
                    grid-template-rows: 0fr;
                    transition: 0.5s all ase-in-out;

                    > div {
                        overflow: hidden;
                    }
                }

                .sub-menu.show {
                    grid-template-rows: 1fr;
                }
            }
        }
    }

    #sidebar > ul > li:first-child {
        display: flex;
        justify-content: flex-end;
        margin-top: 16px;
        margin-bottom: 16px;

        .logo {
            font-weight: 600;
        }
    }

    main {
        //background-color: var(--line-clr);
    }

}