<nav id="sidebar">
    <ul>
        <li class="active">
            <fa-icon [icon]="['fas', 'house']"></fa-icon>
            <a href=""><span>Dashboard</span></a>
        </li>
        <li class="active">
            <fa-icon [icon]="['fas', 'wallet']"></fa-icon>
            <a href=""><span>Account</span></a>
        </li>
        <li class="active">
            <fa-icon [icon]="['fas', 'right-left']"></fa-icon>
            <a href=""><span>Transaction</span></a> 
        </li>
        <li class="active">
            <fa-icon [icon]="['fas', 'chart-pie']"></fa-icon>
            <a href=""><span>Analytics</span></a>
        </li>
        <li class="active">
            <fa-icon [icon]="['fas', 'credit-card']"></fa-icon>
            <a href=""><span>Payment</span></a>
        </li>
        <li>
            <button class="dropdown-btn">
                <fa-icon [icon]="['fas', 'chart-line']"></fa-icon>
                <span>Activity</span>
                <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
            </button>
            <ul class="sub-menu">
                <li class="active">
                    <a href=""><span>Balance</span></a>
                </li>
                <li class="active">
                    <a href=""><span>Spending</span></a>
                </li>
                <li class="active">
                    <a href=""><span>Refund</span></a>
                </li>
            </ul>
        </li>
        <li class="active">
            <fa-icon [icon]="['fas', 'gear']"></fa-icon>
            <a href=""><span>Setting</span></a>
        </li>
        <li class="active">
            <fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon>
            <a href=""><span>Logout</span></a>
        </li>
    </ul>
</nav>