#main-container {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    display: grid;
    grid-template-columns: auto 1fr;

    #sidebar {
        box-sizing: border-box;
        height: 100vh;
        width: 220px;
        padding: 5px .8em;
        border-right: 1px solid var(--line-clr);
        position: sticky;
        top: 0;
        align-self: start;
        overflow: hidden;
        transition: 0.5s ease;

        a, .dropdown-btn, .logo {
            border-radius: .5rem;
            padding: .85em;
            text-decoration: none;
            color: var(--text-clr);
            display: flex;
            align-items: center;
            gap: 1em;
        }

        a span, .dropdown-btn span {
            flex-grow: 1;
        }

        a:hover {
            background-color: var(--hover-clr);
        }

        .dropdown-btn {
            background: var(--hover-clr);

            .rotate {
                rotate: 180deg;
            }
        }

        ul {
            list-style: none;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: start;
            height: 100%;

            li {
                a.active {
                    color: var(--accent-clr);
    
                    fa-icon {
                        color: var(--accent-clr);
                    }
                }

                #toggle-btn { 
                    margin-left: auto;
                    padding: 1em;
                    border: none; 
                    border-radius: .5em; 
                    background: none; 
                    cursor: pointer;
                    color: var(--text-clr); 

                    .rotate {
                        rotate: -180deg; 
                        transition: 0.5s ease; 
                    }
                }

                .dropdown-btn {
                    width: 100%;
                    background: none;
                    border: none;
                    text-align: left;
                    font: inherit;
                    cursor: pointer;

                    fa-icon:last-child {
                        transition: all 0.2s ease;
                    }
                }


                .sub-menu {
                    max-height: 0px;
                    opacity: 0;
                    overflow: hidden;
                    visibility: hidden;
                    transition:  max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
               
                    margin-left: 2em;
                }

                .sub-menu.show {
                    max-height: 700px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        ul > li:last-child {
            margin-top: auto;
        }
    }

    #sidebar > ul > li:first-child {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 16px;

        img {
            width: 40px;
            height: 40px;
        }

        .logo {
            font-weight: 600;
        }
    }

    #sidebar.close {
        max-width: 72px;

        ul {
            li {

                .dropdown-btn span, a span {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }

    main {
        //background-color: var(--line-clr);
    }

}