<div class="main-container">
    <header>
        <h2>Welcome back</h2>
        <span>Nice to meet you again!</span>
    </header>
    <main>
        <div class="row">
            <div class="col-md-9 left">
                <div class="card">
                    <span class="balance">Balance</span>
                    <span class="amount">75.300,00 Ar</span>
                    <span class="notification">Last transaction, You're earned<strong>+Ar5.000,00 </strong>from Alfred</span>
                </div>
                <div class="card">
                    <span>Last transaction</span>
                </div>
            </div>
            <div class="col-md-3 right">
                <div class="card">
                    <div>
                        <button class="btn deposit">
                            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                            <span>Deposit</span>
                        </button>
                        <button class="btn withdraw">
                            <fa-icon [icon]="['fas', 'arrow-down']"></fa-icon>
                            <span>Withdrawal</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>